body {
  background-color: black;
  color: rgb(238, 238, 162);
}

.container {
  max-width: 600px;
}

.btn {
  background-color: rgb(168, 127, 206);
  color: whitesmoke;
}

.chat-list {
  color: black;
}

.username {
  font-weight: bold;
  color: rgb(30, 130, 161);
}
